{
    email khamzauly@gmail.com
}

n8n.{{DOMAIN}} {
    reverse_proxy n8n:5678
}

supabase.{{DOMAIN}} {
    basic_auth {
        admin $2a$14$MESToqROn9NbApOxIdXa7OGMIrNeRCielB6CIHOkjPbabOhEKWQSy
    }
    reverse_proxy studio:3000
}

status.{{DOMAIN}} {
    reverse_proxy uptime-kuma:3001
}